@page "/test"
@* Have to declare this to enable SSR *@
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Project.Data
@using Project.Models
@using Project.Services
@using Microsoft.JSInterop

@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CartService CartService
@inject IJSRuntime JSRuntime

@code {
    public IList<Product> Products { get; set; }
    public IList<string> Categories { get; set; }
    public Product? productShown { get; set; }
    public Product? productAdded { get; set; }

    private Cart? Cart { get; set; }
    private bool isUserSignedIn { get; set; } = false;
    private string selectedCategory { get; set; } = "All";
    private string searchTerm { get; set; } = string.Empty;
    private bool isPriceAscending { get; set; } = true;
    private bool isInStock { get; set; } = true;
    private double minPrice { get; set; }
    private double maxPrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categories = await DbContext.Products.Select(p => p.Type).Distinct().ToListAsync();
        await LoadProductsAsync();
        var authstate = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        if (!(user == null || user.Identity == null || user.Identity.Name == null))
        {
            isUserSignedIn = true;
        }
    }

    private async Task LoadProductsAsync()
    {
        var query = DbContext.Products.AsQueryable();

        if (selectedCategory != "All")
        {
            query = query.Where(p => p.Type == selectedCategory);
        }

        if (!string.IsNullOrEmpty(searchTerm))
        {
            query = query.Where(p => p.Name.ToLower().Contains(searchTerm.ToLower()));
        }

        query = minPrice > 0 ? query.Where(p => (double)p.UnitPrice >= minPrice) : query;
        query = maxPrice > 0 ? query.Where(p => (double)p.UnitPrice <= maxPrice) : query;

        query = isInStock ? query.Where(p => p.QtyInStock > 0) : query.Where(p => p.QtyInStock == 0);

        query = isPriceAscending ? query.OrderBy(p => (double)p.UnitPrice) : query.OrderByDescending(p => (double)p.UnitPrice);

        Products = await query.ToListAsync();
    }

    private async Task showAddToCartToast()
    {
        await JSRuntime.InvokeVoidAsync("showAddToCartToast", null);
    }

    private async Task AddToCartAsync(int productId)
    {
        var authstate = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        if (user == null || user.Identity == null || user.Identity.Name == null)
        {
            Navigation.NavigateTo("/Identity/Account/Login");
            return;
        }

        await CartService.AddToCartAsync(user.Identity.Name, productId);
        productAdded = await DbContext.Products.FirstOrDefaultAsync(p => p.Id == productId);
        await showAddToCartToast();
    }

    private async Task OnCategoryChanged(ChangeEventArgs e)
    {
        selectedCategory = e.Value.ToString();
        await LoadProductsAsync();
    }

    private async Task OnSearchChanged(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        await LoadProductsAsync();
    }

    private async Task OnSortOrderChanged()
    {
        isPriceAscending = !isPriceAscending;
        await LoadProductsAsync();
    }

    private async Task OnStockChanged()
    {
        isInStock = !isInStock;
        await LoadProductsAsync();
    }

    private async Task OnMinPriceChanged(ChangeEventArgs e)
    {
        if (double.TryParse(e.Value.ToString(), out double value))
        {
            minPrice = value;
            await LoadProductsAsync();
        }
        else
        {
            minPrice = 0;
            await LoadProductsAsync();
        }
    }

    private async Task OnMaxPriceChanged(ChangeEventArgs e)
    {
        if (double.TryParse(e.Value.ToString(), out double value))
        {
            maxPrice = value;
            await LoadProductsAsync();
        }
        else
        {
            maxPrice = 0;
            await LoadProductsAsync();
        }
    }
}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <header class="bg-dark py-5"
                style="background-image: url('/images/bg-1.jpg'); background-size: cover; background-position: center;">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">Shop in style</h1>
                        <p class="lead fw-normal text-white-50 mb-0">With insane discount</p>
                    </div>
                </div>
            </header>
        </div>
        <div class="carousel-item">
            <header class="bg-dark py-5"
                style="background-image: url('/images/bg-2.jpg'); background-size: cover; background-position: center;">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">New spruce tree for Christmas</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Begin your festival with...</p>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <form class="d-flex">
            <select class="form-select me-2" @onchange="OnCategoryChanged">
                <option value="All">All Categories</option>
                @foreach (var category in Categories)
                {
                    <option value="@category">@category</option>
                }
            </select>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                @oninput="OnSearchChanged">
            <label class="me-2 sort-text">Sort by Price:</label>
            <button class="me-2 btn btn-outline-secondary" type="button" @onclick="OnSortOrderChanged">
                <div class="sort-text">
                    @if (isPriceAscending)
                    {
                        <span>Low to High</span>
                    }
                    else
                    {
                        <span>High to Low</span>
                    }
                </div>
            </button>
            <input class="form-control me-2" type="number" placeholder="Min Price" @oninput="OnMinPriceChanged">
            <input class="form-control me-2" type="number" placeholder="Max Price" @oninput="OnMaxPriceChanged">
            <button class="btn btn-outline-secondary" type="button" @onclick="OnStockChanged">
                <div class="sort-text">
                    @if (isInStock)
                    {
                        <span>Available</span>
                    }
                    else
                    {
                        <span>Out of Stock</span>
                    }
                </div>
            </button>
        </form>
    </div>
</nav>

<section class="py-5 position-relative">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Products)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="position-relative" role="button" data-bs-toggle="modal"
                            data-bs-target="#productDescModal" @onclick="() => productShown = product">
                            <img class="card-img-top"
                                src="@(!string.IsNullOrEmpty(product.ImageUri) ? product.ImageUri : "https://dummyimage.com/450x300/dee2e6/6c757d.jpg")"
                                width="300" height="165" alt="..." />
                            @if (product.QtyInStock == 0)
                            {
                                <div class="card-badge badge rounded-pill text-bg-dark">Sold Out</div>
                            }
                        </div>

                        <div class="card-body p-4" role="button" data-bs-toggle="modal" data-bs-target="#productDescModal"
                            @onclick="() => productShown = product">
                            <div class="text-center">
                                <h5 class="fw-bolder">@product.Name</h5>
                                $@product.UnitPrice
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                @if (isUserSignedIn)
                                {
                                    <button class="btn btn-outline-dark mt-auto" id="addToCartToastBtn"
                                        @onclick="async() => await AddToCartAsync(product.Id)"
                                        disabled="@(product.QtyInStock == 0)">Add to Cart</button>
                                }
                                else
                                {
                                    <NavLink class="btn btn-outline-dark mt-auto" href="Identity/Account/Login">Add to Cart
                                    </NavLink>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@* Modal *@
<div class="modal fade" id="productDescModal" tabindex="-1" aria-labelledby="productDescModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 fw-bold" id="productDescModalLabel">
                    @productShown?.Name
                </h1>
            </div>
            <div class="position-relative">
                <img class="card-img-top"
                    src="@(!string.IsNullOrEmpty(productShown?.ImageUri) ? productShown.ImageUri : "https://dummyimage.com/450x300/dee2e6/6c757d.jpg")"
                    width="500" height="281" alt="..." />
                @if (productShown?.QtyInStock == 0)
                {
                    <div class="card-badge badge rounded-pill text-bg-dark">Sold Out</div>
                }
            </div>
            <div class="modal-body">
                <h3 class="modal-title fs-5 fw-bold pb-1">Product Description</h3>
                <span class="ms-3">
                    @productShown?.Description
                </span>
            </div>
        </div>
    </div>
</div>

@* Toast *@
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="addToCartToast" class="toast align-items-center text-bg-success border-0" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @productAdded?.Name added to cart
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<style scoped>
    #signin-container {
        padding: 0 300px;
        height: 70dvh;
    }

    .card-badge {
        display: block;
        position: absolute;
        left: 0.25rem;
        bottom: 0.25rem;
    }

    .flex-grow-4 {
        flex-grow: 4;
    }

    .sort-text {
        white-space: nowrap;
        align-self: center;
    }

    .carousel-caption {
        bottom: 20%;
    }

    .carousel-caption h5 {
        font-size: 2.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .carousel-caption p {
        font-size: 1.25rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .carousel-caption button {
        font-size: 1.25rem;
    }

    .carousel-item img {
        height: 600px;
        object-fit: cover;
    }
</style>